
    <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href = "#listview" role="tab">List View</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href = "#matrixView" role="tab">Matrix View</a>
  </li>
</ul>
<p><span class= "badge badge-success">1</span> of 3 flights shown 1 way</p>
<div id = "matrixView">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Price</th>
            <th scope="col">Airline</th>
            <th scope="col">Take-off</th>
            <th scope="col">Landing</th>
            <th scope="col">Stops(Duration)</th>
          </tr>
        </thead>
        <tbody id = "flights">
          
        </tbody>
      </table>



</div>

<!--------------------------pagination------------------------>
<nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>
 <script>

    $( document ).ready(function() {
      $.get('/getjson',function(data){
          
          //$('#flights').empty();
          alert(data.length);
          for(let i = 0 ; i < data.length ; i++){
              $('#flights').append('<tr><td>'+data[i].price+'</td><td>'+data[i].airline+'</td><td>'+data[i].takeoff+'</td><td>'+data[i].landing+'</td><td>'+data[i].duration+'</td></tr>')
          }
      })
        
  });
 
 
 </script>
